$primary: #A3A847;
$secondary: #59642F;
$bg-dark: #444832;
$light: #EAE2B6;
$black: #101206;
$success: #558776;
$danger: #BC2E0A;

$font-family-sans-serif: 'Poppins', sans-serif;


@import "../node_modules/bootstrap/scss/bootstrap";
