.formulaire-title{
    width: 90%;
}

.form {
    .form-select{
      background-color: $light;
      border-radius: 3px;
      border: 0.5px solid $black;
    }
    .hidden-content {
      display: none;
    }
  
    .checkbox-driver {
      &:checked ~ .hidden-content {
        display: block;
      }
    }
  }