.startAdress{
    background: 10px 5px no-repeat $light;
    background-image: url(/assets/img/startAdress.svg);
}
.endAdress{
    background: 10px 5px no-repeat $light;
    background-image: url(/assets/img/endAdress.svg);
}
.date-depart{
    background: 10px 5px no-repeat $light;
    background-image: url(/assets/img/calendar.svg);
}
.passenger{
    background: 10px 5px no-repeat $light;
    background-image: url(/assets/img/passager.svg);
}